<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andreotxai.busaodadepressaoz" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityInicial"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityHorarios"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityInicial"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="andreotxai.busaodadepressaoz.ActivityInicial" />
        </activity>
        <activity
            android:name=".ActivityAvaliacao"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityHorarios"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="andreotxai.busaodadepressaoz.ActivityHorarios" />
        </activity>
        <activity
            android:name=".ActivityTeste"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityInicial"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="andreotxai.busaodadepressaoz.ActivityInicial" />
        </activity>
    </application>

</manifest>
